namespace Engine::Settings
{
    // Engine Group
    ConfigValue e_api       = "D3D11";
    ConfigValue e_languages = array<string> = {"eng", "ukr"};

    // Window group
    ConfigValue w_title  = "Trinex Engine";
    ConfigValue w_size_x = 1280;
    ConfigValue w_size_y = 720;
    // ConfigValue w_attributes = array<int> = { Engine::WindowAttribute::Resizable };
    // ConfigValue w_orientations = {0, 1, 2, 3};
    ConfigValue w_client = "Engine::TestRenderingClient";
    ConfigValue w_vsync  = true;
    ConfigValue e_engine = "Engine::EngineInstance";
    ConfigValue e_show_splash = false;
}// namespace Engine::Settings
