namespace Engine
{
        string api = "Vulkan";
	array<string> languages = {"eng", "ukr"};
}

namespace Window
{
	string title = "Trinex Engine";

	namespace size {
		int x = 1280;
		int y = 720;
	}

	array<Engine::WindowAttribute> attributes = {
		Engine::WindowAttribute::Resizable,
	};

	array<int> orientations = {0, 1, 2, 3};
	string client = "Engine::TestRenderingClient";
        bool vsync = true;
}
