namespace Engine::Settings
{
        [config_main] void init() {
                Window::title            = "Trinex Engine Editor";
                Window::client           = "Engine::EditorClient";
                Editor::small_font_size  = 18;
                Editor::normal_font_size = 25;
                Editor::large_font_size  = 32;
        }
}// namespace Engine::Settings
