namespace Engine::Settings
{
	[config_main] void init() {
                e_api       = "Vulkan";
		e_languages = {"eng", "ukr"};

		w_title  = "Trinex Engine";
		w_size_x = 1280;
		w_size_y = 720;

		w_attributes   = {WindowAttribute::Resizable};
		w_orientations = {Orientation::Landscape};
		w_client       = "Engine::TestRenderingClient";
		w_vsync        = true;
		e_engine       = "Engine::EngineInstance";
		e_show_splash  = false;
	}
}// namespace Engine::Settings
